# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Dossier / Fichiers
.DS_Store
.git
presentation/
.vscode/
_optimized_x.py
img/naive_approach.png
_naive_greedy.py
_optimised.py
test.py
ortools_solution.py
_ortools_solution.py